version: '3'

services:
  monty-pypy:
    build:
      context: .
      args:
        - IMAGE_NAME=${PYPY_IMAGE_NAME}
        - IMAGE_VERSION=${PYPY_IMAGE_VERSION}
    image: lycantropos/monty-pypy:3.0.0
    volumes:
      - ./monty:/opt/monty/monty
      - ./pyproject.toml:/opt/monty/pyproject.toml
      - ./README.md:/opt/monty/README.md
      - ./setup.py:/opt/monty/setup.py
      - ./tests:/opt/monty/tests
    entrypoint: pytest
